<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My HTML Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            color: #333;
            margin-top: 50px;
        }

        h2, h3 {
            color: #666;
        }

        h2 {
            margin-top: 20px;
        }

        h3 {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>This is a static webpage served by Node.js</h1>
    <h2>Created by Sanika Patil</h2>
    <h3>TE-9</h3>
    <h3>33157</h3>
</body>
</html>
